#logo {
    margin-left: 50vh;
    margin-bottom: 80px;
    width: 50%;
}

/* #sectionPokemon{
    height: 30%;
} */

.pokeCont {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    
}

.pokemonImg {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 20px;
}